{% extends "index.html" %}


{% block indexContent %}

	<header id="head" class="secondary"></header>

	<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li class="active">About</li>
		</ol>

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-sm-8 maincontent">
				<header class="page-header">
					<h1 class="page-title">About us</h1>
				</header>
				<h3>Why we’re here</h3>
				<p> We’re on a mission to change the way employers and employees interact and make it better.</p>
				<h3>What working here is really like</h3>
				<p>We work hard to play hard and know that building a billion-dollar company isn’t easy.</p>
				<p>It’ll take a lot more long days and late nights to get there, but we know there’ll be a lot of laughs, happy hours and impromptu cannon firings along the way to make it all worth it.</p>
				<h3>Hourly Core Values</h3>
				<p>INTEGRITY - Do the right thing. Speak your truth by sharing your convictions. Own your actions.<p>
				<p>TEAMWORK - Cultivate an environment of open communication, respect, feedback and support. Embrace each others' uniqueness. Sprint together, win or lose together, and celebrate together. Persevere until we get results.</p>
				<p>INNOVATION - Listen, look for and pioneer creative solutions. Take risks, fail fast, learn quickly and move forward.</p>
				<p>EXCELLENCE - Start by getting the details right. Continuously raise the standard. Build quality into everything we do. Make our best better every day.</p>
				<p>SERVICE - Always provide an exceptional experience. Make others' lives better. Live hospitality. Leave people smiling … 'til their faces hurt.</p>
				<h3>A little bit about us</h3>
				<p>50% of us own a dog … and half bring Fido to work with us</p>
				<p>75% of us admit to having a Mario Kart obsession<p>
				<p>100% of will hopefully graduate on May 16th<p>
			</article>
			<!-- /Article -->
			
			<!-- Sidebar -->
			<aside class="col-sm-4 sidebar sidebar-right">

				<div class="widget">
					<h4>Vacancies</h4>
					<ul class="list-unstyled list-spaces">
						<li><a href="">Software Engineer Intern - Lubbock, TX</a><br><span class="small text-muted">As a User Interface (UI) Intern, you will work with our UI Engineers, Designers, and Product Owners to audit and document our platform features. As a key part of this effort, you will upgrade, consolidate, and modify pages as needed. </span></li>
						<li><a href="">Quality Assurance Analyst II - Lubbock, TX</a><br><span class="small text-muted">A QAA II is expected to work independently and with minimal assistance in completing tasks as assigned. They are involved with mentoring other team members. </span></li>
						<li><a href="">Senior Account Executive - Lubbock, TX</a><br><span class="small text-muted">The Senior Account Executive is responsible for identifying, developing and closing new business opportunities, while also nurturing customer contacts for the purpose of maintaining the customer relationship and driving referral business. This position requires someone who is confident, tenacious, highly organized, comfortable speaking and presenting to prospective clients, and prepared to be on a highly driven sales team. This is an exciting opportunity for someone who is looking for a high velocity career path with a dynamic and innovative company.</span></li>
						<li><a href="">Solution Engineer - Lubbock, TX</a><br><span class="small text-muted">Hourly is looking for a Pre-sales Solution Engineer to represent and sell the leading talent management platform for the service industry. Through interactive pre-sales discoveries, you will analyse an organization's needs and demonstrate how PeopleMatter’s platform addresses the customer’s requirements and solves their strategic business concerns. You have the opportunity to work and grow your career with the best and brightest people in the industry at Hourly.</span></li>
						<li><a href="">Web Developer I - Lubbock, TX</a><br><span class="small text-muted">Hourly is seeking a motivated web developer with *at least two years of experience*. Working closely with the design team to promote best practices in usability and reliability</span></li>
					</ul>
				</div>

			</aside>
			<!-- /Sidebar -->

		</div>
	</div>	<!-- /container -->

{% endblock %}