<!-- Main homepage for Hourly.  This contains all the main content of the page
	 and includes Django tags for extending and overwriting the 'base.html' template -->

{% extends "base.html" %}
{% load staticfiles %}

{% block styles %}
    <!-- Extra Homepage CSS-->
    <link href="{% static "css/style.css" %}" rel="stylesheet">
    <link href="{% static "css/main.css" %}" rel="stylesheet">
{% endblock %}


{% block content %}
	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse navbar-fixed-top headroom" >
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
				<a class="navbar-brand" href="/"><i class="fa fa-calendar"></i>  Hourly</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right">
					<li class="active"><a href="/">Home</a></li>
					<li><a href="/about/">About</a></li>
					<!-- <li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">More Pages <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="sidebar-left.html">Left Sidebar</a></li>
							<li class="active"><a href="sidebar-right.html">Right Sidebar</a></li>
						</ul>
					</li> -->
					<li><a href="/contact/">Contact</a></li>
					{% if username %}
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">Welcome, {{ username }} <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="/dash/">User Dashboard</a></li>
							<li .class="active"><a href="/profile/edit/">Edit Profile</a></li>
							<li><a href="/sched/edit/">Edit Schedule</a></li>
							<li><a href="/user/logout/">Logout</a></li>
						</ul>
					</li>
					
					{% else %}
					<li><a class="btn" href="/signin/">SIGN IN</a></li>
					
					{% endif %}
				</ul>
			</div><!--/.nav-collapse -->
		</div>
	</div> 
	<!-- /.navbar -->
	
{% block indexContent %}

	<!-- Header -->
	<header id="head">
		<div class="container">
			<div class="row">
				<h1 class="lead">HOURLY</h1>
				<p class="tagline">Scheduling Made Easy</p>
				<p><a class="btn btn-default btn-lg" role="button" href="/about/">MORE INFO</a> <a href="/contact/" class="btn btn-action btn-lg" role="button">CONTACT US</a></p>
			</div>
		</div>
	</header>
	<!-- /Header -->

	<!-- Intro -->
	<div class="container text-center">
		<br> <br>
		<h2 class="thin">Create Persistent Schedules with Ease</h2>
		<p class="text-muted">
			With Hourly, managers can create a weekly schedule for all of their employees.  This schedule is shared and automatically
			updated to each employee and can be viewed, printed, and even commented on!
		</p>
	</div>
	<!-- /Intro-->
	
	<div class="container text-center">
		<br> <br>
		<h2 class="thin">We believe you can have fun and still make a difference</h2>
		<p class="text-muted">
			We’re passionate about building the best software in the world and the idea that people matter. It’s what we built our culture around and the reason we’re so great at what we do.
		</p>
	</div>
		
	<!-- Highlights - jumbotron -->
	<div class="jumbotron top-space">
		<div class="container">
			
			<h3 class="text-center thin">Reasons to use Hourly</h3>
			
			<div class="row">
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-cogs fa-5"></i>Powerful Tools</h4></div>
					<div class="h-body text-center">
						<p>Keep team members up-to-date and managers in-line with instant alerts for everything from open shifts to overtime employees.</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-flash fa-5"></i>Simple, usable interface</h4></div>
					<div class="h-body text-center">
						<p>Templates, color coding, admin dashboards and more make it easy to make employee schedules and find ways to make them better.</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-heart fa-5"></i>Communication between individuals</h4></div>
					<div class="h-body text-center">
						<p>Keep your team in the loop and find last-minute fill-ins fast with six easy ways to post schedules and communicate changes, including via email.</p>
					</div>
				</div>
				<div class="col-md-3 col-sm-6 highlight">
					<div class="h-caption"><h4><i class="fa fa-smile-o fa-5"></i>Increase in Productivity</h4></div>
					<div class="h-body text-center">
						<p>Our website lets employees check schedules, swap shifts, request time off and more, on their own and on the go.</p>
					</div>
				</div>
			</div> <!-- /row  -->
		
		</div>
	</div>
	<!-- /Highlights -->

	<!-- container -->
	<div class="container">

		<h2 class="text-center top-space">Frequently Asked Questions</h2>
		<br>

		<div class="row">
			<div class="col-sm-6">
				<h3>I don't have an email address. How do I get one?</h3>
				<p>Need an email address? No problem! There are many free, web-based, e-mail providers that are currently available. It usually takes just a few minutes to create an account, too. If you go to www.gmail.com you can click on the link that says "Create an Account." If you go to www.hotmail.com, you can click the link that says "Sign up." There is also www.yahoo.com, where you can click the link that says "Sign up." Then you can pick an email address and password and enter some minimal personal information to create your very own email account. You can then log in and access your email from any computer with internet access. These are just a few of the free email account providers that are currently available. You may be able to find another one that suits your needs even better.</p>
			</div>
			<div class="col-sm-6">
				<h3>What browsers and computing platforms work with Hourly?</h3>
				<p>Hourly supports the following browsers on a Windows-based PC or an Apple Macintosh: Administrators and Team Members: Internet Explorer 9, 10 and 11 Mozilla Firefox (latest release) Google Chrome (latest release) Safari (latest release) Job Application: Internet Explorer 9, 10 and 11 Mozilla Firefox (latest release) Google Chrome (latest release) Safari (latest release) Administrative access and use of Hourly is not supported on the iPad or any other tablet or Smart Phone. Internet Explorer 6, Opera, and mobile browsers are not supported.</p>
			</div>
		</div> <!-- /row -->

		<div class="row">
			<div class="col-sm-6">
				<h3>We want to hear your feedback!</h3>
				<p>We always want to hear how Hourly could work better for you and your team! Please send any suggestions for product requests, security enhancements, support processes, or any other requests our way!
Just email support@texasibiz.com and we'll be sure to capture it and review it with the right Hourly team.
Thanks for helping to make Hourly better!
~Your Hourly Support Team</p>
			</div>
			<div class="col-sm-6">
				<h3>Best Practices</h3>
				<p>DO create admins with unique login credentials for each person (ID and password) DO NOT use mailinator.com or other open email servers that do not require passwords for access DO NOT allow admins to share passwords or login information with other users</p>
			</div>
		</div> <!-- /row -->

		<div class="jumbotron top-space">
			<h4>For more information or to contact us, please use the links present in the header or at the very bottom of the page</h4>
     		<p class="text-right"><a class="btn btn-primary btn-large">More Info »</a></p>
  		</div>

</div>	<!-- /container -->

{% endblock %}
	
	<!-- Social links. -->
	<section id="social">
		<div class="container">
			<div class="wrapper clearfix">
				<!-- AddThis Button BEGIN -->
				<div class="addthis_toolbox addthis_default_style">
				<a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
				<a class="addthis_button_tweet"></a>
				<a class="addthis_button_linkedin_counter"></a>
				<a class="addthis_button_google_plusone" g:plusone:size="medium"></a>
				</div>
				<!-- AddThis Button END -->
			</div>
		</div>
	</section>
	<!-- /social links -->


	<footer id="footer" class="top-space">

		<div class="footer1">
			<div class="container">
				<div class="row">
					
					<div class="col-md-3 widget">
						<h3 class="widget-title">Contact</h3>
						<div class="widget-body">
							<p>Support 806.111.2222<br>
								<a href="mailto:#">support@texasibiz.net</a><br>
								<br>
								2500 Broadway, Lubbock TX, 79409 <br> Sales 806.123.4567 <br> Other Inquires 806.123.0000
							</p>	
						</div>
					</div>

					<div class="col-md-3 widget">
						<h3 class="widget-title">Follow Hourly</h3>
						<div class="widget-body">
							<p class="follow-me-icons">
								<a href=""><i class="fa fa-twitter fa-2"></i></a>
								<a href=""><i class="fa fa-dribbble fa-2"></i></a>
								<a href=""><i class="fa fa-github fa-2"></i></a>
								<a href=""><i class="fa fa-facebook fa-2"></i></a>
							</p>	
						</div>
					</div>

					<div class="col-md-6 widget">
						<h3 class="widget-title">Hourly - Scheduling Made Easy</h3>
						<div class="widget-body">
							<p>This tool developed and designed by Kyle Blauer and Kris Ayala</p>
							<p>Our Hourly Team is a group of passionate service professionals who are here to help you use our suite of talent management tools to their fullest.</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

		<div class="footer2">
			<div class="container">
				<div class="row">
					
					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="simplenav">
								<a href="/">Home</a> | 
								<a href="/about/">About</a> |
								<a href="/contact/">Contact</a> |
								<b><a href="/signup/">Sign up</a></b>
							</p>
						</div>
					</div>

					<div class="col-md-6 widget">
						<div class="widget-body">
							<p class="text-right">
								Copyright &copy; 2015, Kyle Blauer & Kris Ayala
							</p>
						</div>
					</div>

				</div> <!-- /row of widgets -->
			</div>
		</div>

	</footer>	
    
{% endblock %}

{% block scripts %}

<script src="{% static "js/headroom.min.js" %}"></script>
<script src="{% static "js/jQuery.headroom.min.js" %}"></script>
<script src="{% static "js/main.js" %}"></script>

{% block indexScripts %}

{% endblock %}

{% endblock %}
