{% extends "index.html" %}

{% block indexContent %}
	<header id="head" class="secondary"></header>
	
	<!-- container -->
	<div class="container">

		<ol class="breadcrumb">
			<li><a href="/">Home</a></li>
			<li class="active">Successful Login</li>
		</ol>

		<div class="row">
			
			<!-- Article main content -->
			<article class="col-xs-12 maincontent">
				<header class="page-header">
					<h1 class="page-title">Login Success!</h1>
				</header>


	<h3>You have registered!</h3>
	<p>Click <a href="/signup/">here</a> to return to login</p>

</div>
</div>
	
{% endblock %}